{% extends "base.html" %}

{% block content %}
<head>
    <style>
        /* Alternatively, you can add CSS directly in the head section */
        .product-image {
        max-width: 80px;
        max-height: 80px;
        width: auto;
        height: auto;
        }
    </style>
</head>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Part Number</th>
            <th scope="col">Stock Balance</th>
            <th scope="col">Unit Cost</th>
            <th scope="col">Stock Valuation</th>
            <th scope="col">Image</th>
        </tr>
    </thead>
    <tbody>
        {% if inventory %}
            {% for stock in inventory %}
               <tr>
                    <th>{{ stock.id }}</th>
                    <td><a href ={% url "item" stock.id %}>{{ stock.product_name }}</a></td>
                    <td>{{ stock.part_number }}</td>
                    <td>{{ stock.stock_balance }}</td>
                    <td>{{ stock.unit_cost }}</td>
                    <td>{{ stock.stock_valuation }}</td>
                    {% if stock.product_image %}
                        <td>
                            <img src="{{ stock.product_image.url }}" class="product-image img-fluid img-thumbnail" alt="{{ stock.product_name}}">
                        </td>
                    {% else %}
                        <td> image N/A </td>
                    {% endif %}
               </tr>
            {% endfor %}
        {% endif %}
    </tbody>
</table>
{% endblock %}